.products{
    list-style:none;
    margin-right:300px;
    padding:0px;
    height:100%;
}
.products li{
    display:inline;
    float:left;
    margin:10px;
}
.item{
    display:block;
    text-decoration:none;
}
.item img{
    border:1px solid #333;
}
.item p{
    margin:10;
    font-weight:bold;
    text-align:center;
    color:#474545;
}

img{
height: 200px;
}


.cart{
    position:fixed;
    right:0;
    top:0;
    width:400px;
    height:100%;
    background:rgb(202, 201, 201);
    padding:0px 10px;
}
h1{
    text-align:center;
    
}
h2{
    position:absolute;
    font-size:16px;
    left:10px;
    bottom: 100px;
    
}
.total{
    margin:20;
    text-align:center;
    padding-right:20px;
}